<row>
    <panel head="服务器管理">
        <form-inline-horizontal>
            <my-input id="host" lab="server host" name="host" type="input" placeholder="config file host"></my-input>
            <my-input id="lab" lab="server lab" name="lab" type="input" placeholder="config file lab"></my-input>
            <btn ng-click="addServer()"><span class="glyphicon glyphicon-ok">添加</span></btn>
        </form-inline-horizontal>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </row>
    </panel>
    <panel head="服务器列表">
        <row>
            <table-module
                    url="/server/getAll"
                    ths="[{'name':'ID','paramName':'id'},{'name':'服务器host','paramName':'host'},{'name':'类型（LAB）','paramName':'lab'}]"
                    delete="/server/delete"
                    need-delete></table-module>
        </row>
    </panel>
</row>