<row>
    <panel head="命令执行">
        <form-inline-horizontal>
            <my-input id="cmd" lab="命令" name="cmd" type="input" placeholder="请输入命令"></my-input>
            <btn ng-click="actionCmd()"><span class="glyphicon glyphicon-ok">GO!</span></btn>
        </form-inline-horizontal>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>MSG!</strong>
                <div>
                    {{data.statue}}<br/>
                    <div ng-bind-html="data.msg"></div>
                </div>
            </div>
        </row>
    </panel>
</row>