<row>
    <panel head="命令执行">
        <form-inline-horizontal>
            <input-container>
                <label for="antivirus">命令</label>
                <input type="text" id="antivirus" input-class placeholder="命令"/>
                <btn><span class="glyphicon glyphicon-ok">查杀</span></btn>
            </input-container>
        </form-inline-horizontal>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </row>
    </panel>
</row>