<row>
    <panel head="总内存消耗">
        <row>
            <col12>
                <progress-boot-strap width="{{memPrecent}}" data="mem used percent"></progress-boot-strap>
            </col12>
            <table class="table table-striped table-hover">
                <tr>
                    <th>进程ID</th>
                    <th>name</th>
                    <th>物理内存占用量(KB)</th>
                    <th>虚拟内存占用量(KB)</th>
                    <th>mem present</th>
                    <th>程序cpu</th>
                    <th>系统cpu</th>
                    <th>cpu present</th>
                    <th>当前状态</th>
                </tr>
                <tr ng-repeat="process in processes | orderBy:'memory_info[0]':true">
                    <td>{{process.pid}}</td>
                    <td>{{process.name}}</td>
                    <td>{{process.memory_info[0]/1024}}</td>
                    <td>{{process.memory_info[1]/1024}}</td>
                    <td>{{process.memory_percent}}</td>
                    <td>{{process.cpu_times[0]}}</td>
                    <td>{{process.cpu_times[1]}}</td>
                    <td>{{process.cpu_percent}}</td>
                    <td>{{process.status}}</td>
                </tr>
            </table>
        </row>
    </panel>
</row>