<row>
    <panel head="服务器管理">
        <row>
            <form-inline-horizontal>
                <input-container>
                    <label for="host">服务器</label>
                    <input type="text" id="host" input-class placeholder="服务器host"/>
                </input-container>
                <input-container>
                    <label for="lab">文件路径</label>
                    <input type="text" id="lab" input-class placeholder="文件路径"/>
                </input-container>
                <btn><span class="glyphicon glyphicon-ok">加载配置</span></btn>
            </form-inline-horizontal>
        </row>
        <row>
            <form-inline-horizontal>
                <input-container>
                    <textarea rows="30" cols="160"></textarea>
                    <btn><span class="glyphicon glyphicon-ok">更改配置</span></btn>
                </input-container>
            </form-inline-horizontal>
        </row>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </row>
        <row>
            <form-inline-horizontal>
                <input-container>
                    <label for="command">命令</label>
                    <input type="text" id="command" input-class placeholder="命令"/>
                    <btn><span class="glyphicon glyphicon-ok">执行</span></btn>
                </input-container>
            </form-inline-horizontal>
        </row>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </row>
    </panel>
</row>