<row>
    <panel head="服务器管理">
        <row>
            <form-inline-horizontal>

                <my-select id="server" lab="服务器list" name="server"
                           multiple="true" datamapkey="data" value="host" text="host" remote="/server/getAll"></my-select>

                <my-input id="path" lab="config file path" name="configPath" type="input" placeholder="config file path"></my-input>

                <btn ng-click="getConfig()"><span class="glyphicon glyphicon-cloud-upload">Get!</span></btn>
            </form-inline-horizontal>
        </row>
        <row>
            <form-inline-horizontal>
                <input-container>
                    <textarea rows="30" cols="160" id="text">{{data}}</textarea>
                    <btn ng-click="update()"><span class="glyphicon glyphicon-ok">更改配置</span></btn>
                </input-container>
            </form-inline-horizontal>
        </row>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </row>
        <row>
            <form-inline-horizontal>
                <my-input id="execCmd" lab="(2)exec" name="execCmd" type="input" placeholder="exec cmd"></my-input>
                <btn ng-click="execCmd()"><span class="glyphicon glyphicon-cloud-upload">执行</span></btn>
            </form-inline-horizontal>
        </row>
        <row>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </row>
    </panel>
</row>