<panel head="项目推送服务">
    <form-inline-horizontal>
        <my-upload inputid="uploadProject" lab="project tar/zip" name="file" uploadpath="/upload"></my-upload>
    </form-inline-horizontal>
    <form-inline-horizontal>
        <my-input id="pushpath" lab="（1）数据推送" name="pushpath" type="input" placeholder="push path"></my-input>
    <my-select id="pushserver" lab="" name="pushserver"
               multiple="true" datamapkey="data" value="host" text="host" remote="/server/getAll"></my-select>
        <btn ng-click="push()"><span class="glyphicon glyphicon-cloud-upload">推送</span></btn>
    </form-inline-horizontal>


    <form-inline-horizontal>
        <my-input id="execCmd" lab="(2)exec" name="execCmd" type="input" placeholder="exec cmd"></my-input>
        <btn ng-click="pushAfter()"><span class="glyphicon glyphicon-cloud-upload">执行</span></btn>
    </form-inline-horizontal>

    <row>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <div><strong>Warning!</strong></div>
            <div ng-bind-html="data.msg"></div>
        </div>
    </row>
</panel>